{{>header}}
<!-- Error Page Start -->
<section class="error-page-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Error Page Content Start -->
                <h2 class="text-center">{{title}}</h2>
                <p class="text-center"> {{message}}</p>
                <div class="text-center">
                    <a class="button button-style" href="/">{{back}}</a>
                </div>
                <!-- Error Page Content End -->
            </div>
        </div>
    </div>
</section>
<!-- Error Page End -->
{{>footer}}