{{>header}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Welcome to the about us page</h1>
            <h3 class="text-center">The city name is {{city}} and temprature is {{temp}}</h3>
        </div>
    </div>
</div>
{{>footer}}